imageio
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-probability
tensorflow-hub
bokeh
colorcet
imageio
ipykernel
jupyterlab
mlflow
pandas
plotly
pylint
scikit-learn
seaborn